<div class="top-row brand-header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/search" aria-label="Tagbooru Quest">
            <div class="brand-hero">
                <img src="/img/logobg.png" alt="" class="brand-hero__img" />
                <h1 class="brand-title">
                    <span class="brand-title__main">Tagbooru</span>
                    <span class="brand-title__sub">Quest</span>
                </h1>
            </div>
        </a>
    </div>
</div>



<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="search">
                <span class="nav-icon">🔍</span>
                <span class="nav-text">Tag Search</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="tag-forest">
                <span class="nav-icon">🌲</span>
                <span class="nav-text">Tree View</span>
            </NavLink>
        </div>
    </nav>
</div>
